---
name: autoblack
on: [pull_request]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Set up Python 3.9
              uses: actions/setup-python@v6.1.0
              with:
                  python-version: 3.9
            - name: Install Black
              run: pip install black
            - name: Run black --check --check --diff -v  .
              run: black --check --check --diff -v .
